.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  span {
    color: #61dafb;
  }

  a {
    display: flex;
    align-items: center;

    img {
      width: 24px;
    }
  }
}