.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  span {
    color: #61dafb;
  }

  a {
    display: flex;
    align-items: center;

    img {
      width: 24px;
    }
  }
}

:global(.ant-layout-header) {
  display: flex;
  gap: 32px;

  .logo {
    color: white;
    font-size: 1.2rem;
    background: #1677ff;
    padding: 0 8px;
    font-weight: bold;
  }
}