@function font_url($path) {
  @return url('../assets/fonts/#{$path}');
}

@mixin font-face ($family, $filepath, $filename, $style, $weight) {
  @font-face {
    font-family: $family;
    src: font_url('#{$filename}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}